.center {
  border: 3px solid #f9d1e1;
}

.center.light {
  border-color: #f9d1e1;
}
.center.dark {
  border-color: #ffffff;
}

.top {
  border-left: 3px solid #f9d1e1;
  border-right: 3px solid #f9d1e1;
}

.top.light {
  border-color: #f9d1e1;
}
.top.dark {
  border-color: #ffffff;
}

.left {
  border-top: 3px solid #f9d1e1;
  border-bottom: 3px solid #f9d1e1;
}

.left.light {
  border-color: #f9d1e1;
}
.left.dark {
  border-color: #ffffff;
}

.item.light {
  color: #f9d1e1;
}
.item.dark {
  color: #ffffff;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.box-dimension {
  width: 100px;
  height: 100px;
}
